In [5]:
##list of no. crate two list one list connt even another odd

In [21]:
a = [100, 50, 193,443,256,53,100]
b,c = [] ,[]
for i in a:
    if i%2==0:
        b.append(i)
    else:
        c.append(i)
print(b)
print(c)

[100, 50, 256, 100]
[193, 443, 53]

In [35]:
d = ['a','bob',3,5.5]
charr, word, inte, floatt = [],[],[],[]
for i in d:
    if i is int:
        inte.append(i)
    else:
        charr.append(i)
print(inte)

[]

In [7]:
my_list = [10,20,30,40,50]
print(my_list[1])
print(my_list[1:3])
print(my_list[1:])
print(my_list[:3])
print(my_list[:])

20
[20, 30]
[20, 30, 40, 50]
[10, 20, 30]
[10, 20, 30, 40, 50]

In [9]:
for i in my_list:
    print(i*3)

30
60
90
120
150

In [13]:
import numpy as np
import pandas as pd
import sklearn as sk

ds = pd.read_csv("D:\ML\diabetes.csv")
ds.head()

<>:5: SyntaxWarning: invalid escape sequence '\M'
<>:5: SyntaxWarning: invalid escape sequence '\M'
C:\Users\reddy\AppData\Local\Temp\ipykernel_23960\2204576899.py:5: SyntaxWarning: invalid escape sequence '\M'
  ds = pd.read_csv("D:\ML\diabetes.csv")

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [15]:
for x in range(len(my_list)):
    print(3*my_list[x])

30
60
90
120
150

In [5]:
orders = [('apples',10) , ("banana",5),("cherry",7),("banana",5)]
orders

[('apples', 10), ('banana', 5), ('cherry', 7), ('banana', 5)]

In [21]:
new_order = ['dates',12]
orders.append(new_order)
orders

[('apples', 10), ('banana', 5), ('cherry', 7), ('banana', 5), ['dates', 12]]

In [23]:
new_orders = [("peach",10), ("apple",2)]
orders.extend(new_orders)
orders

[('apples', 10),
 ('banana', 5),
 ('cherry', 7),
 ('banana', 5),
 ['dates', 12],
 ('peach', 10),
 ('apple', 2)]

In [25]:
new_order1 = ('watermelon',6)
orders.insert(3,new_order1)
orders

[('apples', 10),
 ('banana', 5),
 ('cherry', 7),
 ('watermelon', 6),
 ('banana', 5),
 ['dates', 12],
 ('peach', 10),
 ('apple', 2)]

In [19]:
orders = [['apples',10] , ["banana",5],["cherry",7],["banana",5]]
for i in orders:
    if i[0] == "cherry":
        i[1]=10
print(orders)

[['apples', 10], ['banana', 5], ['cherry', 10], ['banana', 5]]

In [55]:
orders = [['apples',10] , ["banana",4],["cherry",7],["graps",6],['apples',20]]
apple_orders = []
for i in orders:
    if i[0] == 'apples':
        apple_orders.append(i[1])
print(apple_orders)
print(sum(apple_orders))

[10, 20]
30

In [1]:
orders = [['apples', 10], ['banana', 4], ['cherry', 7], ['grapes', 6], ['apples', 20]]
c = 0
for i in orders:
    if i[0] == 'apples':
        c += i[1]
print(c)

30

In [39]:
tup1 = (3,5,8)
tup2 = 4,8,9,6,7
tup3 = tuple([1,2,3,5])
tup4 = ([3,5,4],(1,2,3),"hello",10.5)
print('\n',tup1,'\n',tup2,'\n',tup3,'\n',tup4)

 (3, 5, 8)
 (4, 8, 9, 6, 7)
 (1, 2, 3, 5)
 ([3, 5, 4], (1, 2, 3), 'hello', 10.5)

In [45]:
print(tup4)
tup4[0][1]

([3, 5, 4], (1, 2, 3), 'hello', 10.5)

5

In [47]:
tup4[0][1]=10
print(tup4)

([3, 10, 4], (1, 2, 3), 'hello', 10.5)

In [49]:
tup4[1][1] = 7

TypeError: 'tuple' object does not support item assignment

In [51]:
tup4.index('hello')

2

In [53]:
tup5 = (11,12,44,11,10,11,11,11,11)
tup5.count(11)

6

In [1]:
d = {'a' : 1,'b':2, 'c' : 3}
print(d)
print(type(d))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [3]:
d1 = dict(a=1,b=2,c=3)
print(d1)
print(type(d1))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [7]:
d3 = dict([('x',1),('y',2),('z',3)])
print(d3)

{'x': 1, 'y': 2, 'z': 3}

In [11]:
print(d3.keys())
print(d3.values())
print(d3.items())

dict_keys(['x', 'y', 'z'])
dict_values([1, 2, 3])
dict_items([('x', 1), ('y', 2), ('z', 3)])

In [13]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [21]:
score = {'virat':90,'Rohit':100,'rahul':70,'hardik':9,'gill':20,'jadeja':30,'siraz':15}
score

{'virat': 90,
 'Rohit': 100,
 'rahul': 70,
 'hardik': 9,
 'gill': 20,
 'jadeja': 30,
 'siraz': 15}

In [31]:
#add aswin
score['aswin']=15
score

{'virat': 90,
 'Rohit': 100,
 'rahul': 70,
 'hardik': 9,
 'gill': 20,
 'jadeja': 50,
 'siraz': 15,
 'aswin': 15}

In [29]:
##update jadeja score
score.update({'jadeja':50})
score

{'virat': 90,
 'Rohit': 100,
 'rahul': 70,
 'hardik': 9,
 'gill': 20,
 'jadeja': 50,
 'siraz': 15,
 'aswin': 15}

In [39]:
##upade hardik and rahane
score.update({'hardik':65,'rahane':45})
score

{'virat': 90,
 'Rohit': 100,
 'rahul': 70,
 'hardik': 65,
 'gill': 20,
 'jadeja': 50,
 'siraz': 15,
 'aswin': 15,
 'rahane': 45}

In [49]:
#setdefault
score.setdefault('rahul',60)
score

{'virat': 90,
 'Rohit': 100,
 'rahul': 70,
 'hardik': 65,
 'gill': 20,
 'jadeja': 50,
 'siraz': 15,
 'aswin': 15,
 'rahane': 45}

In [51]:
score.setdefault('pujara',50)
score

{'virat': 90,
 'Rohit': 100,
 'rahul': 70,
 'hardik': 65,
 'gill': 20,
 'jadeja': 50,
 'siraz': 15,
 'aswin': 15,
 'rahane': 45,
 'pujara': 50}

In [53]:
##popitem()
score.popitem()
score

{'virat': 90,
 'Rohit': 100,
 'rahul': 70,
 'hardik': 65,
 'gill': 20,
 'jadeja': 50,
 'siraz': 15,
 'aswin': 15,
 'rahane': 45}

In [55]:
#pop()
score.pop('gill')
score

{'virat': 90,
 'Rohit': 100,
 'rahul': 70,
 'hardik': 65,
 'jadeja': 50,
 'siraz': 15,
 'aswin': 15,
 'rahane': 45}

In [57]:
#get
score.get('siraz')

15

In [74]:
#use of fromkey() to create a new dict
list1 = ['a','b','c','d']
mydict = dict.fromkeys(list1)
#mydict = dict.fromkeys(list1,10) => {'a': 10, 'b': 10, 'c': 10, 'd': 10}
mydict

{'a': None, 'b': None, 'c': None, 'd': None}

In [76]:
#update mydict
mydict.update({'a':10,'b':20})
mydict

{'a': 10, 'b': 20, 'c': None, 'd': None}

In [3]:
s1 = {1,2,3,4,5,6}
print(s1)
print(type(s1))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [5]:
s2 = {1,2,3,2,5,2,8}
print(s2)

{1, 2, 3, 5, 8}

In [7]:
lis1 = [1,2,3,4,5,6,7]
s2 = set(lis1)
print(s2)

{1, 2, 3, 4, 5, 6, 7}

In [9]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [11]:
s1 = {1,2,3,4}
s2 = {3,5,2,7}

In [15]:
#union operation using "|"
s1|s2

{1, 2, 3, 4, 5, 7}

In [17]:
#using union
s1.union(s2)

{1, 2, 3, 4, 5, 7}

In [19]:
s1 = {1,2,3}
s2 = {3,4,5}

In [21]:
#intersectio operation using "&" operator
s1&s2

{3}

In [23]:
#using intersection
s1.intersection(s2)

{3}

In [25]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6}

In [27]:
#diffrence of two sets
s1 - s2

{1, 2}

In [29]:
s2 - s1

{6}

In [35]:
#symmetric difference
s1 = {1,2,3,4,5,6,7}
s2 = {4,5,6,8,9,10}
s1.symmetric_difference(s2)

{1, 2, 3, 7, 8, 9, 10}

In [37]:
s2.symmetric_difference(s1)

{1, 2, 3, 7, 8, 9, 10}

Strings

In [42]:
str1 = "welcome to aiml"
print(str1)
str2 = 'We started with python'
print(str2)
str3 = """this class is awesome"""
print(str3)

welcome to aiml
We started with python
this class is awesome

In [56]:
s = '''he said, "it's awsome"'''
print(s)
s[5:12]

he said, "it's awsome"

'id, "it'

In [62]:
s[::-1]

'"emoswa s\'ti" ,dias eh'

In [64]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [68]:
print(s)
s.split()

he said, "it's awsome"

['he', 'said,', '"it\'s', 'awsome"']

In [78]:
#use of join() method
str4 = ["hello.","how are you?"]
joined_string = ' '.join(str4)
print(joined_string)

hello. how are you?

In [82]:
# strip()
str5 = "   hello,    how are you     "
str5.strip()

'hello,    how are you'

In [84]:
# Example dictionary for product sales analysis
sales_data = {
    "ProductID": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "ProductName": ["Laptop", "Mouse", "Keyboard", "Monitor", "Chair", "Desk", "Webcam", "Headphones", "Printer", "Tablet"],
    "Category": ["Electronics", "Accessories", "Accessories", "Electronics", "Furniture", "Furniture", "Electronics", "Accessories", "Electronics", "Electronics"],
    "PriceRange": ["High", "Low", "Low", "Medium", "Medium", "Medium", "Low", "Low", "Medium", "High"],
    "StockAvailable": [15, 100, 75, 20, 10, 8, 50, 60, 25, 12],
}

In [86]:
for k,v in sales_data.items():
    print(k,set(v),end=",")
    print('/n')

ProductID {101, 102, 103, 104, 105, 106, 107, 108, 109, 110},/n
ProductName {'Desk', 'Chair', 'Keyboard', 'Tablet', 'Mouse', 'Monitor', 'Printer', 'Webcam', 'Laptop', 'Headphones'},/n
Category {'Furniture', 'Electronics', 'Accessories'},/n
PriceRange {'Low', 'Medium', 'High'},/n
StockAvailable {100, 8, 10, 75, 12, 15, 50, 20, 25, 60},/n